# Copy this file to .env and replace with your real keys.

# For google gemini, go to https://aistudio.google.com/app/api-keys 
# and create an API key, then copy and paste it here.
export GOOGLE_API_KEY="your_google_api_key_here"

# For nvidia gemini, go to https://developer.nvidia.com/gemini and create an API key, 
# then copy and paste it here.
export NVIDIA_API_KEY="your_nvidia_api_key_here"


# For our own hosted models 
# ABSOLUTLY DO NOT COMMIT NEITHER THE SERVER URL NOR THE API KEY!
# IF YOU EVER COMMIT THIS FILE BY ACCIDENT, LET ME KNOW IMMEDIATELY: WE WILL REVOKE THE KEY AND GIVE YOU A NEW ONE.    
export SCHOOL_HOSTED_MODEL_SERVER_URL="YOUR_SCHOOL_HOSTED_MODEL_SERVER_URL_HERE"
export SCHOOL_HOSTED_MODEL_API_KEY="YOUR_SCHOOL_HOSTED_MODEL_API_KEY_HERE"
export SCHOOL_STREAM="true"
export SCHOOL_MODEL_NAME="your_hosted_model_name_here"
